:root {
  --vp-c-brand-1: var(--cb-color-primary-dark-1);
  --vp-c-brand-2: var(--cb-color-primary);
  --vp-c-brand-3: var(--cb-color-primary-light-1);
  --vp-c-brand-soft: var(--cb-color-primary-light-5);

  --component-preview-bg: var(--vp-code-block-bg);
  --component-preview-soft: var(--vp-code-block-bg-light);
}

body {
  color: var(--vp-c-text-1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--vp-c-text-1);
}

.vitepress-demo-preview__element-plus__container > .vitepress-demo-preview-preview {
  padding: 20px;
}
