/* .vitepress/theme/style/blur.css */
:root.dark {
  --topBgColor: rgba(0, 0, 0, 0.36);
}
:root {
  --blurSize: 12px;
  --topBgColor: rgba(255, 255, 255, 0);
  /* 首页导航 */
  .VPNavBar {
    background-color: var(--topBgColor);
    backdrop-filter: blur(var(--blurSize));
  }

  /* 文档页导航两侧 */
  .VPNavBar:not(.home) {
    background-color: var(--topBgColor);
    backdrop-filter: blur(var(--blurSize));
  }

  @media (min-width: 960px) {
    /* 文档页导航两侧 */
    .VPNavBar:not(.home) {
      background-color: var(--topBgColor);
      backdrop-filter: blur(var(--blurSize));
    }

    /* 首页下滑后导航两侧 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
      background-color: var(--topBgColor);
      backdrop-filter: blur(var(--blurSize));
    }
  }

  @media (min-width: 960px) {
    /* 文档页导航中间 */
    .VPNavBar:not(.home.top) .content-body {
      background-color: var(--topBgColor);
      backdrop-filter: blur(var(--blurSize));
    }

    /* 首页下滑后导航中间 */
    .VPNavBar:not(.has-sidebar):not(.home.top) .content-body {
      background-color: var(--topBgColor);
      backdrop-filter: blur(var(--blurSize));
    }
  }

  /* 分割线 */

  @media (min-width: 960px) {
    /* 文档页分割线 */
    .VPNavBar:not(.home.top) .divider-line {
      background-color: var(--topBgColor);
      backdrop-filter: blur(var(--blurSize));
    }

    /* 首页分割线 */
    .VPNavBar:not(.has-sidebar):not(.home.top) .divider {
      background-color: var(--topBgColor);
      backdrop-filter: blur(var(--blurSize));
    }
  }

  /* 搜索框 VPNavBarSearchButton.vue */
  .DocSearch-Button {
    background-color: var(--topBgColor);
    backdrop-filter: blur(var(--blurSize));
  }

  /* 移动端大纲栏 */
  .VPLocalNav {
    background-color: var(--topBgColor);
    backdrop-filter: blur(var(--blurSize));
    /* 隐藏分割线 */
    /* border-bottom: 5px solid var(--vp-c-gutter); */
    border-bottom: 0px;
  }
}
