.cb-message {
  --cb-message-bg-color: var(--cb-color-info-light-9);
  --cb-message-border-color: var(--cb-border-color-lighter);
  --cb-message-padding: 15px 19px;
  --cb-message-close-size: 16px;
  --cb-message-close-icon-color: var(--cb-text-color-placeholder);
  --cb-message-close-hover-color: var(--cb-text-color-secondary);
}

.dark .cb-message {
  --cb-message-bg-color: var(--cb-color-info-dark-8);
  --cb-message-border-color: var(--cb-border-color-dark);
}
.cb-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--cb-border-radius-base);
  border-width: var(--cb-border-width);
  border-style: var(--cb-border-style);
  border-color: var(--cb-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--cb-message-bg-color);
  padding: var(--cb-message-padding);
  display: flex;
  align-items: center;
  transition:
    top var(--cb-transition-duration),
    opacity var(--cb-transition-duration),
    transform var(--cb-transition-duration);
  .cb-message__content {
    color: var(--cb-message-text-color);
    overflow-wrap: anywhere;
  }
  &.is-close .cb-message__content {
    padding-right: 30px;
  }
  .cb-message__close {
    display: flex;
    align-items: center;
  }
  .cb-message__close svg {
    cursor: pointer;
  }
}
@each $val in primary, info, success, warning, danger {
  .cb-message--$(val) {
    --cb-message-bg-color: var(--cb-color-$(val)-light-9);
    --cb-message-border-color: var(--cb-color-$(val)-light-8);
    --cb-message-text-color: var(--cb-color-$(val));
    .cb-message__close {
      --cb-icon-color: var(--cb-color-$(val));
    }
  }
}
.dark {
  @each $val in primary, info, success, warning, danger {
    .cb-message--$(val) {
      --cb-message-bg-color: var(--cb-color-$(val)-dark-8);
      --cb-message-border-color: var(--cb-color-$(val)-dark-5);
      --cb-message-text-color: var(--cb-color-$(val));
      .cb-message__close {
        --cb-icon-color: var(--cb-color-$(val));
      }
    }
  }
}
.cb-message.fade-up-enter-from,
.cb-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
