@import '@fortawesome/fontawesome-svg-core/styles.css';

.cb-icon {
  --cb-icon-size: 18px;
  --cb-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--cb-icon-size);
  height: var(--cb-icon-size);
  fill: currentColor;
  color: var(--cb-icon-color);
  font-size: inherit;
  vertical-align: middle;
}

@each $val in primary, info, success, warning, danger {
  .cb-icon--$(val) {
    --cb-icon-color: var(--cb-color-$(val));
  }
}
